[submodule "node_modules/useless"]
	path = node_modules/useless
	url = https://github.com/xpl/useless.git
[submodule "node_modules/underscore"]
	path = node_modules/underscore
	url = https://github.com/jashkenas/underscore
